.dates{
    display:flex;
    font-size: 13px;
    height: 40px;
    color:white;
    font-weight: bold;
}
.dates-verb-type{
    width: 8%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 3, 51); 
    color: rgb(187, 186, 255);
    border-right: 1px solid  rgb(179, 166, 255);
}
.dates-errors{
    width: 6%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 3, 51); 
    border-right: 1px solid rgb(179, 166, 255);
    color: rgb(196, 186, 255);
}
.dates-totally{
    width: 6%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 3, 51); 
    border-right: 1px solid rgb(179, 166, 255);
    color: rgb(196, 186, 255);
}
.dates-tries{
    width: 6%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 3, 51); 
    border-right: 1px solid rgb(179, 166, 255);;
    color: rgb(196, 186, 255);
}
.dates-lifes{
    width: 24%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 3, 51); 
    border-right: 1px solid  rgb(179, 166, 255);;
    color: rgb(196, 186, 255);
}
.dates-lifes a{
    margin-right: 2px;
}
.dates-lifes .lifes-icon-heart{
    color:rgb(253, 0, 0);
    font-size: 17px;
}
.dates-lifes .lifes-numb{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 177, 221); 
    color:rgb(2, 3, 68);
    width:29px;
    height: 25px;
    margin-left: 7px;
    border-radius: 50%;
}
.dates-bar-progress{
    width: 38%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 3, 51); 
    border-right: 1px solid  rgb(179, 166, 255);
    color: rgb(187, 186, 255);
}
.dates-score{
    width: 12%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 3, 51); 
    color: rgb(187, 186, 255);
}