.p-bar{
    display: flex;
    width: 480px;
    height: 25px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bolder;
    color:rgb(0, 0, 0);
}
.p-bar-basic{
    display:flex;
    justify-content:center;
    align-items: center;
    width:13%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(247, 250, 229);
    opacity: 0.5;
}
.p-bar-normal{
    display:flex;
    justify-content:center;
    align-items: center;
    width:13%;
    height: 100%;
    background-color:  rgb(248, 255, 206);
    opacity: 0.5;
}
.p-bar-difficult{
    display:flex;
    justify-content:center;
    align-items: center;
    width:18%;
    height: 100%;
    background-color:  rgb(241, 252, 180);
    opacity: 0.5;
}
.p-bar-hardcore{
    display:flex;
    justify-content:center;
    align-items: center;
    width:18%;
    height: 100%;
    background-color:  rgb(235, 248, 164);
    opacity: 0.5;
}
.p-bar-ultra-hardcore{
    display:flex;
    justify-content:center;
    align-items: center;
    width:25%;
    height: 100%;
    background-color:  rgb(229, 247, 132);
    opacity: 0.5;
}
.p-bar-god{
    display:flex;
    justify-content:center;
    align-items: center;
    width:13%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(225, 245, 114);
    opacity: 0.5;
}

.basic-color{
    border-bottom:2px solid rgb(141, 243, 128);
    color:#047a00;
    opacity: 1;
    animation: 5s levelbasic alternate ease infinite;
}
.normal-color{
    border-bottom:2px solid rgb(141, 243, 128);
    color:#00800b;
    opacity: 1;
    animation: 5s levelnormal alternate ease infinite;
}
.difficult-color{
    border-bottom:3px solid rgb(201, 1, 1);
    color:#f50000;
    opacity: 1;
    animation: 5s leveldifficult alternate ease infinite;
}
.hardcore-color{
    border-bottom:3px solid rgb(255, 4, 4);
    color:#d10303;
    opacity: 1;
    animation: 5s levelhardcore alternate ease infinite;
}
.ultraHardcore-color{
    border-bottom:4px solid rgb(7, 164, 255);
    color:#007579;
    opacity: 1;
    animation: 5s levelultrahardcore alternate ease infinite;
}
.god-color{
    border-bottom:5px solid rgb(252, 4, 231);
    color:#940163;
    opacity: 1;
    animation: 5s levelgod alternate ease infinite;
} 

@keyframes levelbasic {
    0%{
      color:#0c0c0c;
    }
    100%{
      color: #00800b;
      font-size: 14px;
    }
}
@keyframes levelnormal {
    0%{
      color:#0c0c0c;
    }
    100%{
      color: #00800b;
      font-size: 14px;
    }
}
@keyframes leveldifficult {
    0%{
      color:#0c0c0c;
    }
    100%{
      color: #f50000;
      font-size: 14px;
    }
}
@keyframes levelhardcore {
    0%{
      color:#0c0c0c;
    }
    100%{
      color: #d10303;
      font-size: 14px;
    }
}
@keyframes levelultrahardcore {
    0%{
      color:#0c0c0c;
    }
    100%{
      color: #007579;
      font-size: 14px;
    }
}
@keyframes levelgod {
    0%{
      color:#0c0c0c;
    }
    100%{
      color: #940163;
      font-size: 15px;
    }
}