.comp-img-hangman{
  display:flex;
  padding: 20px 50px 20px 50px;
  height: 250px;
  /* background-color: rgb(12, 3, 51);  */
}

.Img-Hangman-Contain{
  width: 30%;
  height: 100%;
  background-color:  rgb(128, 114, 189);
}      
.img-hangman-flex{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.img-hangman{
  width:200px;
  height: 200px;
}

.Script-Character-Contain{
  width:40%;
  height:100%;
  background-color:rgb(128, 114, 189);
}
.Img-To-Show-Contain{
  width:30%;
  height:100%;
  background-color: rgb(128, 114, 189); 
}